<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/add-product">Add Product</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/contact" method="post">
            <input type="text" name="name" placeholder="username">
            <input type="text"name="email" placeholder="email">
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>